
/* ! Base Style */

body{font-family: 'Inter', sans-serif;font-size: 16px;background-color: #000;}

a{text-decoration: none;}

h1, h2, h3, h4, h5, p{color: whitesmoke; padding-bottom: 30px;}

.big-text{font-size: 70px;font-weight: 900;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}

.intro-text{text-transform: uppercase; font-size: 20px;font-weight: bold;}

.button{padding: 18px 20px;color: #fff;display: inline-block;border-radius: 4px;}

.dsButton{
    background: #316bff;
}
.dsButton:hover{
    box-shadow: 5px 5px 10px rgba(27, 46, 218, 0.5);
}
.statusAB{background: #e30022;}

@media (max-width: 1092px) {
    .big-text{font-size: 40px;} 
    /* 40px */
}




/* ! Header */

.header{
    /* border: 1px solid red; */ /*cool ASF---*/
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%; /*left:0*/
    /* translate: translateX(-50%); */
    translate: -50%;
    padding: 30px;
    display: flex;
    /* background: #000; */
    max-width: 1350px;
}

.appleL{
    width: 55px;
    height: 50px;
    display: block;
    animation: spin 4s linear infinite;
}
@keyframes spin {
    0% { 
      transform: rotate(0deg);
   }
    100% {
      transform: rotate(360deg);
   }
}


/*.logo{ border: 1px solid red;} */ /*COol ASF---*/
.logo{z-index: 1;}


.menu{
    /* border: 1px solid red; */ /*COOL ASF---*/
    width: 100%;
    z-index: 0;
}

.menu li{display: inline-block;}
.menu li a{color: #fff; padding: 15px; display: block;}

.hamburger{display: none;}


/*.cta{ border: 1px solid red;} */ /*COOL ASF---*/

@media (max-width: 1092px){
    
    .cta{
        display: none;
    }
    
    
    .menu{position: absolute; top: 0; right: -100%; background: url("imgs/BlackAppleImage.png") no-repeat center center; height: 100vh;padding-top: 80px;}
    .menu li{display: block;}
    .menu li a{padding: 0px 40px;font-size: 60px;margin-top: 90px; display: flex;} /*padd 15px 30px     fs20px*/
    
    .menu--open{right: 0%;}

    .hamburger{
        display: block;
        width: 50px;
        height: 50px; /*30px  both*/
        /* border: 1px solid red; */
        position: absolute;
        top: 40px;
        right: 30px;
        
    }
    .hamburger span{background: rgb(75, 1, 1); height: 5px; width: 100%;display: block;margin-bottom: 7px;} /*meno 2 tutte e due*/
}




/* ! Hero */
.hero{
    /* background: #000; */
    height: 100vh;
    display: flex; width: 100%;align-items: center;
    background:  linear-gradient(210deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
     url("imgs/wallpaperflare.com_5.jpg") no-repeat center center; /*217deg*/ /*BlackAppleImage.png*/
    background-size: cover;
}

.hero__content{
    /* border: 1px solid red; */ /*COOL ASF---*/
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 30px;
    
}

.hero__content h1,
.hero__content p{color: rgb(62, 40, 255);} /*#fff*/


@media (max-width: 1092px){
    .button{height: 90px; padding: 35px 20px;text-align: center;}
    
}






.coolhr {
        height: 4px;  
        width: 150px;
        background-color: #0066ff; 
        border: none;
        transition: background-color 0.5s ease; 
        animation: color-change 3s infinite; 
      
}
           
@keyframes color-change {
        0% { background-color: #0066ff; }
      
        50% { background-color: #1100ff; }
      
        100% { background-color: #4000f0; }
      
}




*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}

