/* ! Base Style */

body{font-family: 'Inter', sans-serif;font-size: 16px;background-color: #000000;}

a{text-decoration: none;}

h2, h4, h5, p{color: whitesmoke; padding-bottom: 30px;}

h3{padding-bottom: 30px;}

.big-text{font-size: 70px;font-weight: 900;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}

.intro-text{text-transform: uppercase; font-size: 20px;font-weight: bold;}

.button{padding: 18px 20px;background: #316bff;color: #fff;display: inline-block;border-radius: 4px;}

.titlescript{color: #e30022;}


@media (max-width: 1092px) {
    .big-text{font-size: 40px;} 
    /* 40px */
}




/* ! Header */

.header{
    /* border: 1px solid red; */ /*cool ASF---*/
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%; /*left:0*/
    /* translate: translateX(-50%); */
    translate: -50%;
    padding: 30px;
    display: flex;
    /* background: #000; */
    max-width: 1350px;
}

.appleL{
    width: 55px;
    height: 50px;
}

.discord{display: none;}
.statusa{display: none;}

.at1{text-align: center;}
.bapos{padding-left: 250px;}



/*.logo{ border: 1px solid red;} */ /*COol ASF---*/
.logo{z-index: 1;}


.menu{
    /* border: 1px solid red; */ /*COOL ASF---*/
    width: 100%;
    z-index: 0;
}

.menu li{display: inline-block;}
.menu li a{color: #fff; padding: 15px; display: block;}

.hamburger{display: none;}


/*.cta{ border: 1px solid red;} */ /*COOL ASF---*/

@media (max-width: 1092px){
    
    .cta{
        display: none;
    }
    
    
    .menu{position: absolute; top: 0; right: -100%; background: url("../imgs/BlackAppleImage.png") no-repeat center center; height: 100vh;padding-top: 80px;}
    .menu li{display: block;}
    .menu li a{padding: 0px 40px;font-size: 60px;margin-top: 90px;display: flex;} /*padd 15px 30px     fs20px*/
    
    .menu--open{right: 0%;}

    .hamburger{
        display: block;
        width: 50px;
        height: 50px; /*30px  both*/
        /* border: 1px solid red; */
        position: absolute;
        top: 40px;
        right: 30px;
        
    }
    .hamburger span{background: whitesmoke; height: 5px; width: 100%;display: block;margin-bottom: 7px;} /*meno 2 tutte e due*/
}




/* ! Hero */
.hero{
    /* background: #000; */
    height: 100vh;
    display: flex; width: 100%;align-items: center;
    background:  linear-gradient(210deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
     url("../imgs/wallpaperflare.com_3.jpg") no-repeat center center; /*217deg*/ /*BlackAppleImage.png*/
    background-size: cover;
}

.hero__content{
    /* border: 1px solid red; */ /*COOL ASF---*/
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 30px;
    
}

.hero__content h1{color: #2320f0 ;}
.hero__content p{color: rgb(0, 179, 233);} /*#fff*/


@media (max-width: 1092px){
    .button{height: 90px; padding: 35px 20px;text-align: center;}
    .hero__content h1{color: #20f0df ;}
}



/* Grid */

.grid{display: flex;max-width: 1350px;padding: 0 30px;margin: 0 auto;}
.grid .col{width: 100%;}



@media (max-width: 1092px){
    .grid{flex-wrap: wrap;}
}

/*Carousel*/

.main-carousel{padding: 40px 0;}

.carousel-cell{
    height: 350px;
    width: 350px;
    background: #480607;
    border-radius: 100%;
    /*line-height: 0px;*/ /*350px*/
    text-align: center;
    margin-right: 40px;
}


@media (max-width: 1092px){
    .main-carousel--hide{display: none;}
}



/*Helpers*/
.mt-1{margin-top: 50px;}
.mt-2{margin-top: 100px;}
.mt-3{margin-top: 150px;}
.tw{color: #fff;}

.testp{padding: 40px; line-height: 320px;}
.textsw{padding: 75px;}

.downloadScript{background-color: #7f1734;padding: 15px 80px;color: #ff2800;border-radius: 40px;}




.DbuDiv{
    /* background: #000; */
    height: 100vh;
    display: flex; width: 100%;
    background:  linear-gradient(210deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
     url("../imgs/Starsspace.jpg") no-repeat center center; /*217deg*/ /*BlackAppleImage.png*/
    background-size: cover;
}

.coolhr {
    height: 4px;  
    background-color: #0066ff; 
    border: none;
    transition: background-color 0.5s ease; 
    animation: color-change 3s infinite; 
  
}
       
@keyframes color-change {
    0% { background-color: #0099ff; }
  
    25% { background-color: #1100ff; }
  
    50% { background-color: #3703b1; }
    
    75% { background-color: #030fb1; }
    
    100% { background-color: #0333d1; }
}





#DbuScripts {
    position: relative;
    width: 750px;
    height: 500px;
    background: linear-gradient(210deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%), url("../imgs/BeerusPlanet.png") no-repeat center center;
    background-size: cover;
    background-position: center;
    color: white;
    border-radius: 50px;
    opacity: 0;

    transition: opacity 0.3s ease-in-out;
    margin-top: 75px;
    margin-left: 100px;
}

#DbuScripts.visible {
    opacity: 1;
}

#DownloadHub {
    display: inline-block;
    background-color: #480607;
    width: 150px;
    height: 35px;
    border-radius: 25px;
    color: yellow;
    border: 2px solid #3703b1;
    position: absolute;
    bottom: 300px;
    left: 40px;
    font-size: 15.3px;
}

#DownloadHub:hover {
    background-color: #b4090c;
}

#DownloadAFStats {
    display: inline-block;
    background-color: #480607;
    width: 150px;
    height: 35px;
    border-radius: 25px;
    color: yellow;
    border: 2px solid #3703b1;
    position: absolute;
    bottom: 430px;
    right: 70px;
    font-size: 15.3px;
}

#DownloadAFStats:hover {
    background-color: #b4090c;
}

#DownloadAFReb {
    display: inline-block;
    background-color: #480607;
    width: 150px;
    height: 35px;
    border-radius: 25px;
    color: yellow;
    border: 2px solid #3703b1;
    position: absolute;
    bottom: 50px;
    right: 20px;
    font-size: 15.3px;
}

#DownloadAFReb:hover {
    background-color: #b4090c;
}


*,
*::before,
*::after{
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}
