body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #10a9e6;
  }
header, footer, main {
    padding: 20px;
    text-align: center;
  }
header {
    background-color: #0c94ca;
    color: rgb(24, 4, 139);
  }
footer {
    background-color: #04036e;
    color: rgb(75, 102, 255);
}

.SectionGen{
  height: 100vh;
}

.MediumBigText{
  font-size: 20px;
}

.MediumText{
  font-size: 18px;
}

.BigText{
  font-size: 24px;
}

#AFR{
  background-color: #120fce;
  border-radius: 3%;
  color: rgb(255, 255, 0);
  background: linear-gradient(210deg, rgba(12, 2, 148, 0.8), rgba(255, 0, 0, 0) 70.71%), url("/imgs/bluecoolbg.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;;
}
#Hub{
  background-color: #120fce;
  border-radius: 3%;
  color: rgb(255, 255, 0);
  background: linear-gradient(210deg, rgba(12, 2, 148, 0.8), rgba(255, 0, 0, 0) 70.71%), url("/imgs/bluecoolbg2.jpg") no-repeat center center;
  background-size: cover;
  background-position: center;;
}

.coolhr {
  height: 4px;  
  background-color: #0052ce; 
  border: none;
  transition: background-color 0.5s ease; 
  animation: color-change 3s infinite; 
  width: auto;

}


.AFRScriptDiv {
  position: absolute; 
  width: 40%;
  height: 70%;
  background-color: rgba(23, 174, 245, 0.5); 
  border-radius: 50px;

  text-align: left;


  padding: 5px 0; 
  margin: 5px 0; 

}

#OneDivAFR{
  top: 190%; 
  left: 25%; 
  transform: translate(-50%, -50%); 
}
#TwoDivAFR{
  top: 190%; 
  left: 75%; 
  transform: translate(-50%, -50%); 
}


.ScriptPart{
  font-size: 1.55vh;
  opacity: 1;
  margin-left: 15px;

}

@media screen and (max-width: 1268px) and (max-hegiht: 1080px){
  .ScriptPart {
    font-size: 1.55vh; 
  }
}
@media screen and (max-width: 1398px){
  .ScriptPart {
    font-size: 1.3vh; 
  }
}
@media screen and (max-width: 908px){
  .ScriptPart {
    font-size: 1.1vh; 
  }
}
@media screen and (max-width: 758px){
  .ScriptPart {
    font-size: 0.925vh; 
  }
}

@media screen and (max-hegiht: 780px){
  #OneDivAFR{
    top: 200%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 200%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}

@media screen and (max-height: 650px){
  #OneDivAFR{
    top: 205%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 205%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}

@media screen and (max-height: 510px){
  #OneDivAFR{
    top: 215%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 215%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}
@media screen and (max-height: 430px){
  #OneDivAFR{
    top: 220%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 220%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}
@media screen and (max-height: 370px){
  #OneDivAFR{
    top: 235%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 235%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}
@media screen and (max-height: 320px){
  #OneDivAFR{
    top: 245%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 245%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}
@media screen and (max-height: 290px){
  #OneDivAFR{
    top: 255%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 255%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}
@media screen and (max-height: 250px){
  #OneDivAFR{
    top: 270%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 270%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}
@media screen and (max-height: 230px){
  #OneDivAFR{
    top: 280%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 280%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}
@media screen and (max-height: 210px){
  #OneDivAFR{
    top: 290%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 290%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}
@media screen and (max-height: 200px){
  #OneDivAFR{
    top: 295%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 295%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}
@media screen and (max-height: 190px){
  #OneDivAFR{
    top: 305%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 305%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}
@media screen and (max-height: 180px){
  #OneDivAFR{
    top: 310%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 310%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}
@media screen and (max-height: 150px){
  #OneDivAFR{
    top: 345%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 345%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}
@media screen and (max-height: 120px){
  #OneDivAFR{
    top: 430%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 430%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}
@media screen and (max-height: 100px){
  #OneDivAFR{
    top: 500%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 500%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}
@media screen and (max-height: 80px){
  #OneDivAFR{
    top: 600%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 600%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}
@media screen and (max-height: 50px){
  #OneDivAFR{
    top: 700%; 
    left: 25%; 
    transform: translate(-50%, -50%); 
  }
  #TwoDivAFR{
    top: 700%; 
    left: 75%; 
    transform: translate(-50%, -50%); 
  }
}
